/*urlの雰囲気が気に入らなかったので、変更
<url1><a></a></url1>とすることで適用 */
url1 a {
  color: black;
  text-decoration: none;

}
url1 a:hover {
  color: red;
  text-decoration: underline;

}

url1 a:not([href]):not([class]), a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: 'tegaki';/* フォント名 */
  /* フォーマットごとにパスを指定 */
  src: url('../fonts/timemachine-wa.ttf') format('truetype');
}
.mv {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
 
/* 全体を囲う要素 */
.mv-wrap {
  position: relative;
  /* 背景画像の高さ */
  height: 500px;
}
 
video {
  display: block;
  width: 100%;
  /* 背景画像の高さ */
  height: 500px;
  /* 高さを維持したまま全体を表示させる */
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
 
.mv-bg {
  display: block;
  width: 100%;
  /* 背景画像の高さ */
  height: 500px;
  position: absolute;
  top: 0;
  left: 0;  
  /* videoの上に乗せる */
  z-index: 100;
}
 
.mv-txt {
  color: #fff;;
  font-family: tegaki;
  font-size: 100px;
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* レイヤー背景の上に乗せる */
  z-index: 10;
  margin: auto;
  text-align: center;
}

.mv-subtxt {
  color: rgb(255, 255, 255);;
  font-family: tegaki;
  font-size: 20px;
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* レイヤー背景の上に乗せる */
  z-index: 10;
  margin: auto;
  text-align: center;
}

.title-txt {
  font-family: tegaki;
}

.span-10px {
  margin-top: 50px;
}

.rogo-size {
  width: 100px;
  height: 100px;
}





